# 1. What are data structures, and why are they important?

Data structures are ways of organizing and storing data so that it can be accessed and modified efficiently. 
They are important because they provide an efficient way to perform operations like searching, sorting, 
inserting, and deleting data. Examples of data structures include lists, tuples, sets, and dictionaries.

# 2. Explain the difference between mutable and immutable data types with example

- Mutable data types can be changed after they are created. Examples in Python include lists, dictionaries, and sets.

In [2]:
my_list = [1, 2, 3]
print(my_list)
my_list[0] = 10  # Changes the first element
print(my_list)

[1, 2, 3]
[10, 2, 3]

- Immutable data types cannot be changed after they are created. Examples include strings, tuples, and frozensets.

In [3]:
my_tuple = (1, 2, 3)
my_tuple[0] = 10  # This will raise an error because tuples are immutable

TypeError: 'tuple' object does not support item assignment

# 3. Describe how dictionaries store data

Dictionaries store data in key-value pairs. The keys are unique, and they are used to retrieve the corresponding value. 
The data in a dictionary is unordered (prior to Python 3.7). Dictionaries are implemented using hash tables, which provide fast lookups.

In [4]:
my_dict = {"name": "John", "age": 30}
my_dict

{'name': 'John', 'age': 30}

# 4. Why might you use a set instead of a list in Python

You might use a set instead of a list when:
- You need to store unique elements, as sets automatically eliminate duplicates.
- You need to perform operations like union, intersection, and difference.

In [5]:
my_set = {1, 2, 3, 3} 
my_set

{1, 2, 3}

# 5. What is a string in Python, and how is it different from a list

A string is a sequence of characters. It is an immutable data type, meaning once created, you cannot change its elements.

The main differences between strings and lists:
- Strings are immutable; lists are mutable.
- Strings store characters; lists can store elements of different types.

In [6]:
my_string = "hello"
my_list = [1, "hello", 3.14]

# 6. How do tuples ensure data integrity in Python

Tuples ensure data integrity because they are immutable. Once a tuple is created, you cannot change its contents. 
This makes tuples useful for storing fixed, unchangeable data.

In [7]:
my_tuple = (1, 2, 3)
my_tuple[0] = 10  # This will raise an error

TypeError: 'tuple' object does not support item assignment

# 7. What is a hash table, and how does it relate to dictionaries in Python

A hash table is a data structure that maps keys to values using a hash function. 
Dictionaries in Python are implemented using hash tables. When you insert a key-value pair, 
Python calculates the hash of the key and uses that hash to store and retrieve the corresponding value efficiently.

# 8. Can lists contain different data types in Python

Yes, lists can contain different data types. Lists are ordered collections and can store any type of data, including integers, 
strings, other lists, and even dictionaries.

In [8]:
my_list = [1, "hello", 3.14, [1, 2], {"key": "value"}]
my_list

[1, 'hello', 3.14, [1, 2], {'key': 'value'}]

# 9. Explain why strings are immutable in Python

Strings are immutable in Python because they are optimized for performance and memory efficiency. 
Making strings immutable ensures that they are hashable and can be used as keys in dictionaries or elements in sets.

# 10. What advantages do dictionaries offer over lists for certain tasks

Dictionaries offer several advantages over lists:
- Fast lookups: You can quickly find a value using its key, with a time complexity of O(1).
- Efficient storage: They store data in key-value pairs, making them ideal for associative arrays.

In [11]:
my_dict = {"name": "John", "age": 30}
my_dict["name"]

'John'

# 11. How do sets handle duplicate values in Python

Sets automatically remove duplicate values. When you try to add a duplicate element to a set, it is ignored.

In [12]:
my_set = {1, 2, 3, 3}
print(my_set)  # Output: {1, 2, 3}

{1, 2, 3}

# 12. Describe a scenario where using a tuple would be preferable over a list

A tuple would be preferable over a list when you have data that should not be modified, such as coordinates or fixed configurations.

In [13]:
coordinates = (10.0, 20.0)  # Coordinates should not change after creation

# 13. How does the “in” keyword work differently for lists and dictionaries
- In a list, the `in` keyword checks if an element is present in the list.

In [14]:
my_list = [1, 2, 3]
print(2 in my_list)  # Output: True

True

- In a dictionary, the `in` keyword checks if a key is present in the dictionary.

In [15]:
my_dict = {"name": "John", "age": 30}
print("name" in my_dict)  # Output: True

True

# 14. Can you modify the elements of a tuple? Explain why or why not

No, you cannot modify the elements of a tuple because tuples are immutable. 
Once a tuple is created, its elements cannot be changed or reassigned.

# 15. What is a nested dictionary, and give an example of its use case

A nested dictionary is a dictionary where the values themselves are dictionaries.

In [17]:
nested_dict = {
    "person1": {"name": "John", "age": 30},
    "person2": {"name": "Alice", "age": 25}
}
nested_dict

{'person1': {'name': 'John', 'age': 30},
 'person2': {'name': 'Alice', 'age': 25}}

# 16. Describe the time complexity of accessing elements in a dictionary

The time complexity of accessing elements in a dictionary is O(1) on average because dictionaries are implemented using hash tables. 
This allows for fast retrieval of values based on keys.

# 17. In what situations are lists preferred over dictionaries

Lists are preferred over dictionaries when:
- You need to store an ordered collection of items.
- You don't need key-value pair mappings.
- You are working with data that may contain duplicates.

# 18. Why are dictionaries considered unordered, and how does that affect data retrieval

Prior to Python 3.7, dictionaries were considered unordered because the order of items was not guaranteed. 
However, starting from Python 3.7, dictionaries maintain insertion order. Despite that, dictionary access is still based on keys, not order.

# 19. Explain the difference between a list and a dictionary in terms of data retrieval

- In a list, data is retrieved by index.

In [18]:
my_list = [10, 20, 30]
print(my_list[1])  # Output: 20

20

- In a dictionary, data is retrieved by key.

In [19]:
my_dict = {"name": "John", "age": 30}
print(my_dict["name"])  # Output: John

John

# 20. Write a code to create a string with your name and print it

In [20]:
my_name = "Bhushan"
my_name

'Bhushan'

# 21. Write a code to find the length of the string "Hello World"

In [21]:
hello_world = "Hello World"
print("Length of 'Hello World':", len(hello_world))

Length of 'Hello World': 11

# 22. Write a code to slice the first 3 characters from the string "Python Programming"

In [22]:
python_programming = "Python Programming"
# Print the sliced string
print("First 3 characters of 'Python Programming':", python_programming[:3])

First 3 characters of 'Python Programming': Pyt

# 23. Write a code to convert the string "hello" to uppercase

In [23]:
hello = "hello"
print("Uppercase 'hello':", hello.upper())

Uppercase 'hello': HELLO

# 24. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [26]:
sentence = "I like apple"
print("Original sentence: '{0}' Modified sentence: '{1}'".format(sentence, sentence.replace("apple", "orange")))

Original sentence: 'I like apple' Modified sentence: 'I like orange'

# 25. Write a code to create a list with numbers 1 to 5 and print it

In [27]:
numbers = [1, 2, 3, 4, 5]
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

# 26. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [28]:
numbers_list = [1, 2, 3, 4]
numbers_list.append(10)
print("List after appending 10:", numbers_list)

List after appending 10: [1, 2, 3, 4, 10]

# 27. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [29]:
numbers_list_2 = [1, 2, 3, 4, 5]
numbers_list_2.remove(3)
print("List after removing 3:", numbers_list_2)

List after removing 3: [1, 2, 4, 5]

# 28. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [30]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print("Second element:", second_element)

Second element: b

# 29. Write a code to reverse the list [10, 20, 30, 40, 50]

In [31]:
my_list_2 = [10, 20, 30, 40, 50]
reversed_list = my_list_2[::-1]
print("Reversed list:", reversed_list)

Reversed list: [50, 40, 30, 20, 10]

# 30. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [32]:
my_tuple = (10, 20, 30)
print("Tuple:", my_tuple)

Tuple: (10, 20, 30)

# 31. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [33]:
my_tuple_2 = ('apple', 'banana', 'cherry')
first_element = my_tuple_2[0]
print("First element of the tuple:", first_element)

First element of the tuple: apple

# 32. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [34]:
my_tuple_3 = (1, 2, 3, 2, 4, 2)
count_of_two = my_tuple_3.count(2)
print("Count of 2 in the tuple:", count_of_two)

Count of 2 in the tuple: 3

# 33. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [35]:
my_tuple_4 = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple_4.index('cat')
print("Index of 'cat':", index_of_cat)

Index of 'cat': 1

# 34. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [36]:
my_tuple_5 = ('apple', 'orange', 'banana')
is_banana_in_tuple = 'banana' in my_tuple_5
print("Is 'banana' in the tuple?", is_banana_in_tuple)

Is 'banana' in the tuple? True

# 35. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [37]:
my_set = {1, 2, 3, 4, 5}
print("Set with elements 1, 2, 3, 4, 5:", my_set)

Set with elements 1, 2, 3, 4, 5: {1, 2, 3, 4, 5}

# 36. Write a code to add the element 6 to the set {1, 2, 3, 4}

In [38]:
my_set_2 = {1, 2, 3, 4}
my_set_2.add(6)
print("Set after adding 6:", my_set_2)

Set after adding 6: {1, 2, 3, 4, 6}

# 37. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [39]:
my_tuple = (10, 20, 30)
print("Tuple with elements 10, 20, 30:", my_tuple)

Tuple with elements 10, 20, 30: (10, 20, 30)

# 38. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [41]:
my_tuple_2 = ('apple', 'banana', 'cherry')
first_element = my_tuple_2[0]
print("First element of the tuple:", first_element)

First element of the tuple: apple

# 39. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [42]:
my_tuple_3 = (1, 2, 3, 2, 4, 2)
count_of_two = my_tuple_3.count(2)
print("Count of 2 in the tuple:", count_of_two)

Count of 2 in the tuple: 3

# 40. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [43]:
my_tuple_4 = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple_4.index('cat')
print("Index of 'cat':", index_of_cat)

Index of 'cat': 1

# 41. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [44]:
my_tuple_5 = ('apple', 'orange', 'banana')
is_banana_in_tuple = 'banana' in my_tuple_5
print("Is 'banana' in the tuple?", is_banana_in_tuple)

Is 'banana' in the tuple? True

# 42. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [45]:
my_set_3 = {1, 2, 3, 4, 5}
print("Set with elements 1, 2, 3, 4, 5:", my_set_3)

Set with elements 1, 2, 3, 4, 5: {1, 2, 3, 4, 5}

# 43. Write a code to add the element 6 to the set {1, 2, 3, 4}

In [46]:
my_set_4 = {1, 2, 3, 4}
my_set_4.add(6)
print("Set after adding 6:", my_set_4)

Set after adding 6: {1, 2, 3, 4, 6}